<!-- <p>contactus works!</p> -->
<!-- homwork -->

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4">
                ติดต่อเรา
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">ชื่อ</label>
                            <input type="tel" class="form-control" id="exampleFormControlInput1"
                                placeholder="ชื่อจริง">
                                


                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">เบอร์โทรศัพท์</label>
                            <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="06x-xxx-xxxx">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">เนื้อหาที่ต้องการติดต่อ</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">นามสกุล</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="นามสกุล">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">E-mail</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="admin-kusrc@gmail.com">
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Remember Me
                                </label>
                            </div>
                            <br>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
              
                
                    
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header h4">
                            หมายเลขโทรศัพท์หน่วยงาน
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>คณะวิทยาการจัดการ</td>
                                                <td></td>
                                                <td>0-3835-2828 (661000)</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>คณะวิทยาศาสตร์ ศรีราชา</td>
                                                <td></td>
                                                <td>0-3835-4587-8 (663014)</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>คณะวิศวกรรมศาสตร์ศรีราชา</td>
                                                <td></td>
                                                <td>0-3835-4580-4 (662202)</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>คณะเศรษฐศาสตร์ ศรีราชา</td>
                                                <td></td>
                                                <td>0-3835-2902 (664302)</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>คณะพาณิชยนาวีนานาชาติ</td>
                                                <td></td>
                                                <td>0-3835-4580-4 (665301)</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td>สำนักงานวิทยาเขต</td>
                                                <td></td>
                                                <td>0-3835-4580-4 (666103)</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">7</th>
                                                <td>หน่วยประสานงานวิทยาเขตศรีราชา (ชั้น1 อาคาร 50 ปี บางเขน)</td>
                                                <td></td>
                                                <td>0-2942-8878 (644013)</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>ศูนย์รักษาความปลอดภัย</td>
                                                        <td></td>
                                                        <td>0-3835-4580-4 (666666)</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>ห้องพยาบาล</td>
                                                        <td></td>
                                                        <td>0-3835-4580-4 (666606)</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>งานบริการการศึกษา</td>
                                                        <td></td>
                                                        <td>065-7162627 (666536)</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">4</th>
                                                        <td>งานกิจการนิสิต</td>
                                                        <td></td>
                                                        <td>065-7162628 (666600)</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">5</th>
                                                        <td>งานทะเบียนและประมวลผล</td>
                                                        <td></td>
                                                        <td>065-7162624 (666425)</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">6</th>
                                                        <td>งานเทคโนโลยีสารสนเทศ</td>
                                                        <td></td>
                                                        <td>065-7162630 (666703)</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">7</th>
                                                        <td>งานห้องสมุด</td>
                                                        <td></td>
                                                        <td>065-7162632 (666901)</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">8</th>
                                                        <td>งานทรัพย์สินและสิทธิประโยชน์</td>
                                                        <td></td>
                                                        <td>065-7162623 (666302)</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">9</th>
                                                        <td>งานอาคารสถานที่และยานพาหนะ</td>
                                                        <td></td>
                                                        <td>065-7162631 (666802)</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ระบบสารสนเทศนิสิต - ฝ่ายการศึกษา มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
            199 หมู่ 6 ถนนสุขุมวิท ตำบลทุ่งสุขลา อำเภอศรีราชา จังหวัดชลบุรี 20230<br>
            โทร 038 354 580 ต่อ 2631 โทรสาร 038 351 169
        </div>
    </div>
</div>